name: Codes to JSON

on: 
  push:
    paths-ignore:
    - '@luau-install'

jobs:
  pushbuild:
    name: Install Dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 2

    outputs:
        json_table: ${{ steps.get_json.outputs.JSON_TABLE }}

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Luau
        uses: ewd3v/setup-luau@v0.1.0

      - name: Get JSON
        id: get_json
        run: |
          output=$(luau translation/translatecodes.luau)
          echo "JSON_TABLE=$output" >> $GITHUB_OUTPUT

  build:
    needs: [pushbuild]
    name: Send to JSON
    runs-on: ubuntu-latest
    timeout-minutes: 2

    env:
      JSON_TABLE: ${{ needs.pushbuild.outputs.json_table }}

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Send JSON to file
        uses: "DamianReeves/write-file-action@master"
        with:
          path: codes.json
          write-mode: overwrite
          contents: ${{ env.JSON_TABLE }}
            
      - name: Commit & Push
        uses: Andro999b/push@v1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: true
          message: 'Overwritten by Github Actions - ${date}'
